.my-btn {
  border: none;
  color: #630863;
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 12px;
  /* background: url("https://picsum.photos/200"); */
}

.my-btn:hover {
  /* box-shadow: inset 0 0 25px 10px rgba(0, 0, 0, 0.4); */
  border: 1px solid #fc0606;
  background-color: rgb(167, 14, 14);
  color: #fff;
}
